<!DOCTYPE html>
<html lang="en">

<head>
<title>Qwertyshop</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            
            <%= link_to (image_tag "GrumpyShop.png", :class => "big-image"), categories_path%>
        <p><%= link_to'Shop Now', categories_path, class:"btn btn-primary btn-large links"%></p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Dedicated to the worlds grumpiest cat: Grumpy Cat!</h3>
            </div>
        </div>
        <hr>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <a class="links" href="http://www.grumpycats.com/">
                <div class="thumbnail">
                    <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xtf1/v/t1.0-9/1977329_658812200821187_677266368_n.jpg?oh=dd0b8556dbca9a8391a91aaf4fa27c65&oe=560C4C05&__gda__=1443595577_dfead2bb54a01bec793fb50c9fcac0c5" alt="" class="img-circle pictures links spin">
                    <div class="caption">
                        <i class="fa fa-laptop fa-5x"></i>
                        <p>Visit the website of Grumpy Cat.</p>
                        <p>
                            <a href="http://www.grumpycats.com/" class="btn btn-primary links">Go Now...</a> 
                        </p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <a class="links" href="https://www.facebook.com/TheOfficialGrumpyCat">
                <div class="thumbnail">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/p206x206/11329857_859783734057365_55970164268843398_n.jpg?oh=312d36fe7280eed46a313e01408c4279&oe=55BF5F39" alt="" class="img-circle pictures links spin">
                    <div class="caption">
                        <i class="fa fa-facebook-square fa-5x"></i>
                        <p>Follow the worlds most influential cat!</p>
                        <p>
                            <a href="https://www.facebook.com/TheOfficialGrumpyCat" class="btn btn-primary links">Go Now!</a>
                        </p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <a class="links" href="https://twitter.com/realgrumpycat">
                <div class="thumbnail">
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11011807_855786151123790_4712566400318116641_n.jpg?oh=03fe1cbf6ba4442c9777b58d9c2fc28e&oe=55FE67D0&__gda__=1442982586_6e4c60bc4be0db447b07cc7868a170d5" alt="" class="img-circle pictures links spin">
                    <div class="caption">
                        <i class="fa fa-twitter-square fa-5x"></i>
                        <p>See Grumpy's words of wisdom.</p>
                        <p>
                            <a href="https://twitter.com/realgrumpycat" class="btn btn-primary links">Go Now...</a>
                        </p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <a class="links" href="https://www.youtube.com/channel/UCTzVrd9ExsI3Zgnlh3_btLg">
                <div class="thumbnail">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10659215_737215902980816_1921557444760703373_n.jpg?oh=386ff82777c5d45ad0f1fb4defe17c91&oe=55C75FC9" alt="" class="img-circle pictures links spin">
                    <div class="caption">
                        <i class="fa fa-youtube-square fa-5x"></i>
                        <p>Watch lots of Grumpy videos!</p>
                        <p>
                            <a href="https://www.youtube.com/channel/UCTzVrd9ExsI3Zgnlh3_btLg" class="btn btn-primary links">Go Now...</a>
                        </p>
                    </div>
                </div>
                </a>
            </div>

        </div>
        <!-- /.row -->
        <hr>
</body>
</html>
